@import "../../../style/presets";

.deal_label {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 300ms;

  &__title_block {
    z-index: 2;

    position: relative;
    top: 2em;

    width: 11.5em;
    height: 11.5em;
    background-color: $black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    border: 1px solid $white;

    text-transform: uppercase;
    font-family: Roboto, 'sans-serif';
    letter-spacing: 4px;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text_block {
    z-index: 1;
    background-color: $transparent-white;
    font-size: 0.9em;

    padding: 4em 2em;
    border-radius: 5px;
    border: 1px solid $separator;

    font-family: Roboto, 'sans-serif';
    line-height: calc(1em + 8px);

    transition: all 300ms;
  }
}

@media (min-width: $medium-start) {
  .deal_label {
    &__text_block {
      font-size: 1.1em;
    }
  }
}