@import "../../../style/presets";

.deal_menu {
  z-index: 4;

  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $soft-white;
  border-bottom: 1px solid $separator;
  border-right: none;

  transition: all 200ms;

  &__item {
    text-transform: uppercase;
    font-family: Roboto, 'sans-serif';
    font-size: 0.8em;
    color: $gray-light;
    letter-spacing: 2px;
    transition: all 500ms;
    cursor: pointer;
    user-select: none;
  }

  &__item + &__item {
    margin: 0 0 0 2em;
  }

  &_selected_item {
    color: $black;
  }
}

@media (min-width: $medium-start) {
  .deal_menu {
    height: 100%;
    width: 3em;

    flex-direction: column;

    border-bottom: none;
    border-right: 1px solid $separator;

    &__item {
      writing-mode: tb-rl;
      transform: rotate(180deg);
      font-size: 1em;
      letter-spacing: 4px;
    }

    &__item + &__item {
      margin: 3em 0 0 0;
    }

    &_selected_item {
      color: $black;
    }
  }
}