@import "../../../style/presets";

.materials {
  @include page_mixin;
  width: 100%;
  max-height: 50em;

  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: all 300ms;

  &__big_title, &__small_title {
    opacity: 0;
    position: relative;
    font-weight: 100;
    transition: all 300ms;
  }

  &__big_title {
    font-size: 1.2em;
  }

  &__big_title_rise {
    animation-name: text_rise;
    animation-duration: 700ms;
    animation-fill-mode: both;
  }

  &__list {
    margin-top: auto;

    opacity: 0;
    position: relative;

    li {
      font-weight: 100;
    }

    li + li {
      margin-top: 0.5em;
    }
  }

  &__list_rise {
    animation-name: text_rise;
    animation-duration: 700ms;
    animation-fill-mode: both;
    animation-delay: 300ms;
  }

  &__small_title {
    margin-top: auto;
  }

  &__small_title_rise {
    animation-name: text_rise;
    animation-duration: 700ms;
    animation-fill-mode: both;
    animation-delay: 600ms;
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .materials {
    padding: 3em;

    &__big_title {
      font-size: 1.7em;
    }

    &__small_title, &__list {
      font-size: 1.3em;
    }
  }
}

@media (min-width: $large-start) {
  .materials {
    width: 60em;
    max-height: initial;

    padding: 2em;

    &__big_title {
      font-size: 2.7em;
    }

    &__small_title, &__list {
      font-size: 1.5em;
    }
  }
}