@import "../../../style/presets";

@keyframes h_rise {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes v_rise {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.avatar {
  position: relative;

  &__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(1) contrast(120%);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  &__photo_rised {
    animation-name: v_rise;
    animation-duration: 2000ms;
    animation-fill-mode: both;
  }

  &__logo {
    position: absolute;
    transform: translate(50%, -50%);
    width: 30vw;
    height: 30vw;

    clip-path: polygon(0 0, 0 0, 0 0, 0 0);

    border-radius: 50%;
    border: 1px solid $black;

    transition: all 100ms;
  }

  &__logo_rised {
    animation-name: v_rise;
    animation-duration: 2000ms;
    animation-fill-mode: both;
  }
}

@media (min-width: $large-start) {
  .avatar {

    &__photo {
      width: initial;
      height: 100%;
      object-fit: contain;
    }

    &__photo_rised {
      animation-name: h_rise;
    }

    &__logo {
      position: absolute;
      transform: translate(50%, -50%);
      width: 30vh;
      height: 30vh;
    }

    &__logo_rised {
      animation-name: h_rise;
    }
  }
}