@import "../../../style/presets";
@import "../../common/ProjectCard/ProjectCard";

.projects {
  @include page_mixin;
  width: 100%;
  height: initial;

  padding: 2em;

  background-image: linear-gradient(to right bottom, #323232, #343434, #373737, #393939, #3c3c3c, #3b3b3b, #393939, #383838, #323232, #2c2c2c, #262626, #202020);

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}

@media (max-width: $ultra-small - 1px) {
  .projects {
    .project_card + .project_card {
      border-top: 1px dotted $gray-light;
    }
  }
}

@media (min-width: $ultra-small) and (max-width: $small-end) {
  .projects {
    grid-template-columns: 1fr 1fr;

    .project_card:nth-child(n + 3) {
      border-top: 1px dotted $gray-light;
      border-left: none;
    }
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .projects {
    padding: 3em;
    grid-template-columns: 1fr 1fr 1fr;

    .project_card:nth-child(n + 4) {
      border-top: 1px dotted $gray-light;
      border-left: none;
    }
  }
}

@media (min-width: $large-start) {
  .projects {
    width: initial;
    height: 100%;

    display: flex;

    .project_card {
      width: 25em;
    }

    .project_card + .project_card {
      border-top: none;
      border-left: 1px dotted $gray-light;
    }
  }
}