@import "../../../style/presets";

.main {
  @include temp;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: Roboto, 'sans-serif';
    font-weight: 100;
    font-size: 2.5em;
    letter-spacing: 4px;
    transition: all 300ms;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0.3;
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .main {
    &__title {
      font-size: 5em;
      letter-spacing: 8px;
    }
  }
}

@media (min-width: $large-start) {
  .main {
    &__title {
      font-size: 7.5em;
      letter-spacing: 12px;
    }
  }
}