@import "../../../style/presets";
@import "../../common/AboutMyself/AboutMyself";
@import "../../common/Avatar/Avatar";

@keyframes v_avatar_rise {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes h_avatar_rise {
  from {
    left: 50px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.about {
  @include page_mixin;
  width: 100vw;
  height: initial;

  display: flex;
  flex-direction: column;

  padding: 2em;

  transition: all 300ms;

  .about_myself {
    margin: 25vw 0 0 0;
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .about {
    padding: 3em;
  }
}

@media (min-width: $large-start) {
  .about {
    width: initial;
    height: 100vh;
    flex-direction: row;

    .about_myself {
      margin: 0 0 0 10vw;
    }
  }
}
