// Пресеты цветов
$black: rgb(50, 50, 50);
$white: rgb(255, 255, 255);
$gray: rgb(120, 120, 120);

// Граница изменения направления слайдов
$v-direction-limit: 1023px;
$h-direction-limit: 1024px;

// Пресеты ширины экрана
$small-end: 768px;
$medium-start: 769px;
$medium-end: 1023px;
$large-start: 1024px;

// TODO Временный тестовый миксин
@mixin temp {
  width: 100vw;
  min-width: 320px;

  height: 100vh;
  min-height: 640px;

  flex-shrink: 0;

  background-color: $white;
}

