// Пресеты цветов
$black: rgb(50, 50, 50);

$gray: rgb(100, 100, 100);
$gray-light: rgb(140, 140, 140);
$gray-high-light: rgb(180, 180, 180);

$white: rgb(255, 255, 255);
$soft-white: rgb(245, 245, 245);
$white-separator: rgb(200, 200, 200);
$transparent-white: rgba(255, 255, 255, 0.7);

// Граница изменения направления слайдов
$v-direction-limit: 1023px;
$h-direction-limit: 1024px;

// Пресеты ширины экрана
$small-end: 768px;
$medium-start: 769px;
$medium-end: 1023px;
$large-start: 1024px;

// TODO Временный тестовый миксин
@mixin page_mixin {
  width: 100vw;
  min-width: 320px;

  height: 100vh;
  min-height: 640px;

  flex-shrink: 0;

  background-color: $white;
}

