@import "../../../style/presets";
@import "../DealLabel/DealLabel";

.deal_card {
  z-index: 3;

  position: absolute;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100%;

  transition: all 1000ms;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
  }

  &_visible {
    left: 0;
  }

  .deal_label {
    width: 21em;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .deal_card {
    .deal_label {
      transform: translate(calc(50% + 1.5em), -50%);
    }
  }
}

@media (min-width: $large-start) {
  .deal_card {
    .deal_label {
      top: 2em;
      right: 5em;
      transform: translate(0);
    }
  }
}